local config = require("lapis.config")

config("production", {
    port = 8080,
    num_workers = 4,
    code_cache = "on",
    secret = "Please-Change-Me",
    session_name = "wheee_session",
    postgres = {
        backend = "pgmoon",
        host = "127.0.0.1",
        user = "USER",
        password = "PASSWORD",
        database = "DBNAME",
    }
})

config("development", {
    port = 8080,
    postgres = {
        backend = "pgmoon",
        host = "127.0.0.1",
        user = "USER",
        password = "PASSWORD",
        database = "DBNAME",
    }
})
