local config = require("lapis.config")

config("production", {
    port = 8080,
    num_workers = 4,
    lua_code_cache = "off",
    postgres = {
        backend = "pgmoon",
        host = "127.0.0.1",
        user = "USER",
        password = "PASSWORD",
        database = "DBNAME",
    }
})

config("development", {
    port = 8080,
    postgres = {
        backend = "pgmoon",
        host = "127.0.0.1",
        user = "USER",
        password = "PASSWORD",
        database = "DBNAME",
    }
})
